<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <i class="fas fa-headphones-alt"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">
            Team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service">
            Service
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connect">
            Connect
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div id="slides" class="carousel slide" data-ride="carousel" data-interval="false">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bg"></div>
      <div class="carousel-caption">
        <h1 class="display-4 black">Contemoran Design</h1>
        <h3 class="black">ARHITECTURA CU DESIGN SI SENS</h3>
        <button type="button" class="btn btn-outline-light btn-lg">
          <strong>Servicii</strong>
        </button>
        <button type="button" class="btn btn-dark btn-lg ml-1">
          Design
        </button>
      </div>
    </div>

    <div class="carousel-item">
      <!-- picture     -->
    </div>


    <div class="carousel-item">
      <!-- picture     -->
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12">
      <p class="lead text-center">
        Space Sparkle înseamnă arhitectură și design cu sens, reflectate în <a href="#" style="text-decoration: none">proiecte</a> inteligente, estetice, funcționale și inovatoare.
        <br>
        <br>
        Ne concentrăm pe crearea unui design excepțional, care pornește de la relația cu clienții noștri. Vrem ca împreună să realizăm proiecte
        care să contribuie în mod durabil contextului urban și natural în care se integrează, să stârnească curiozitatea și să uimească în același timp.</p>
    </div>
</div>
