<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <img src="../../../assets/logos/LOGO.png" class="navbar-brand logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">
            Team
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service" routerLinkActive="active">
            Service
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connect" routerLinkActive="active">
            Connect
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
