<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" >
  <div class="container-fluid">
    <img src="../../../assets/logos/gri.png" class="navbar-brand logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4">
          <a class="nav-link navLinkHover" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            Home
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link navLinkHover" routerLink="/about" routerLinkActive="active">
            About
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link navLinkHover" routerLink="/team" routerLinkActive="active">
            Team
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link navLinkHover" routerLink="/service" routerLinkActive="active">
            Services
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link navLinkHover" routerLink="/connect" routerLinkActive="active">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
